In [2]:
company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]
employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

SOAL 1

In [4]:
company_name = [{'name': company['name']} for company in company_detail_list]
company_name.sort(key=lambda x: x['name'], reverse=True)
company_name

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

SOAL 2

In [7]:
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

SOAL 3

In [8]:
company_domain_map = {company['name']: company['domain'] for company in company_detail_list}

employees_by_domain = {}

for employee in employee_detail_list:
    company_name = employee['company']
    domain = company_domain_map[company_name]
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    employees_by_domain[domain].append(employee['full_name'])

employees_by_domain

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

SOAL 4

In [9]:
company_country_map = {company['name']: company['country'] for company in company_detail_list}
result = []
for employee in employee_detail_list:
    company_name = employee['company']
    country = company_country_map.get(company_name, 'Unknown') #default jika gak  ada data yang match
        
    result.append({
        "full_name": employee['full_name'],
        "company": company_name,
        "country": country
    })
result

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

SOAL 5

In [10]:
company_nationality_map = {}

for employee in employee_detail_list:
    company_name = employee['company']
    nationality = employee['nationality']

    if company_name not in company_nationality_map:
        company_nationality_map[company_name] = {}

    if nationality not in company_nationality_map[company_name]:
        company_nationality_map[company_name][nationality] = 0
    company_nationality_map[company_name][nationality] += 1

result = []
for company in company_detail_list:
    company_name = company['name']
    if company_name in company_nationality_map:
        result.append({
            "company": company_name,
            "employee_nationality": company_nationality_map[company_name]
        })

result

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]